<div>
  <span *ngIf="gameService.Game.stats.happyClicks > 0">Happy: {{gameService.Game.currencyHappy}}</span>
  <span *ngIf="gameService.Game.stats.excitedClicks > 0">Excited: {{gameService.Game.currencyExcited}}</span>
  <span *ngIf="gameService.Game.stats.sleepClicks > 0">Sleep: {{gameService.Game.currencySleep}}</span>
  <span *ngIf="gameService.Game.stats.sadClicks > 0">Sad: {{gameService.Game.currencySad}}</span>
  <span *ngIf="gameService.Game.stats.madClicks > 0">Mad: {{gameService.Game.currencyMad}}</span>
  <span *ngIf="gameService.Game.stats.angryClicks > 0">Angry: {{gameService.Game.currencyAngry}}</span>
  <span *ngIf="gameService.Game.stats.posClicks + gameService.Game.stats.negClicks > 0">
    Reputation: {{gameService.Game.reputation}}
  </span>
</div>