<div class="currency-header">
  <span class="happy" *ngIf="gameService.Game.stats.happyClicks.get() > 0">
    Happy: {{gameService.Game.currencyHappy}}
  </span>
  <span class="excited" *ngIf="gameService.Game.stats.excitedClicks.get() > 0">
    Excited: {{gameService.Game.currencyExcited}}
  </span>
  <span class="sleep" *ngIf="gameService.Game.stats.sleepClicks.get() > 0">
    Sleep: {{gameService.Game.currencySleep}}
  </span>
  <span class="sad" *ngIf="gameService.Game.stats.sadClicks.get() > 0">
    Sad: {{gameService.Game.currencySad}}
  </span>
  <span class="mad" *ngIf="gameService.Game.stats.madClicks.get() > 0">
    Mad: {{gameService.Game.currencyMad}}
  </span>
  <span class="angry" *ngIf="gameService.Game.stats.angryClicks.get() > 0">
    Angry: {{gameService.Game.currencyAngry}}
  </span>
  <span class="reputation" *ngIf="gameService.Game.stats.posClicks.get() + gameService.Game.stats.negClicks.get() > 0">
    Reputation: {{gameService.Game.reputation}}
  </span>
</div>