.the-button {
  width: 600px;
  height: 200px;
  font-size: 3.5em;
}

.button-wrapper {
  width: 600px;
  margin: 20px auto;
}

.button-text {
  text-align: center;
}

.sleeping {
  background-color: lavender;
  color: darkorchid;
}

.sad {
  background-color: skyblue;
  color: dimgray;
}

.happy {
  background-color: greenyellow;
  color: green;
}

.excited {
  background-color: gold;
  color: black;
}

.mad {
  background-color: darkorange;
  color: firebrick;
}

.angry {
  background-color: orangered;
  color: darkred;
}

