.the-button {
  width: 600px;
  height: 200px;
  font-size: 3.5em;
}

.sleeping {
  background-color: lavender;
  color: darkorchid;
}

.sad {
  background-color: skyblue;
  color: dimgray;
}

.happy {
  background-color: greenyellow;
  color: green;
}

.excited {
  background-color: goldenrod;
  color: black;
}

.angry {
  background-color: darkorange;
  color: firebrick;
}

.table-flip {
  background-color: orangered;
  color: darkred;
}

